*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Tahoma", Geneva, sans-serif;
	word-spacing: 3px;
	letter-spacing:1px;
	background-color: black;
	
}
html{
	scroll-behavior: smooth;
}

.navbg{
	background-color: black;
}

.container{
	padding: 100px	 100px 0 100px;
	background-color: black;
}

.navul{
	margin-left: 4in;
	
}

li{
	list-style: none;
	margin-left: 20px;
}
.text a{
	text-decoration: none;
	display: block;
	padding: 5px;
	background-color: gray;
	

}

body{
	background-color: black;
	color: white;
}


header {
	padding: 20px 0;
}

.navbarstyle{
	background-color: black;
	padding:10px;
	color: white;
	
}

header h3,
.text p,
.about h3,
.skills h3,
.gallery h3,
.portfolio h3,
.contact h3{
	color: pink;
}

.text{
	margin-top: 100px;
}

.text h1{
	color: white;
	font-size: 3rem;
	cursor: context-menu;
}

.text span{
	display: inline-block;
}

span:hover{
	color: pink;
	transition: all .5s;
}

.text a{
	width:25%;
	text-align:center;
	color: pink;
	border-style: solid;
	background-color: black;
	margin:2% 0 0 10%;
}

.mypic img{
	max-width: 100%;
	height: auto;
	
}

.appletter{
	border: white solid;
	line-height: 1em;
	word-spacing: 3px;
	color:white;
	padding: 30px 20px 20px 20px;
	
	}

.about,
.skills,
.gallery,
.portfolio,
.contact{
	color: white;
	line-height:30px;
	
}

.about h3,
.skills h3,
.gallery h3,
.portfolio h3,
.contact h3{
	line-height: 30px;
	margin-bottom: 60px;
	text-align: center;
	font-size: 2em;
	margin: 10px 0 10px 0;
}
.styloo{
	border-radius: 8px;
}

.butt{
	color:white;
}


.pads{
	padding: 20px;
}

.headerpads{
	padding-bottom: 50px;
}

form{
	text-align: center;
	
}






